* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template:
    "linkedIn . gmail" 1fr
    ". discord ." 1fr /
    1fr 1fr 1fr;
}
.linkedIn {
  grid-area: linkedIn;
}
.gmail {
  grid-area: gmail;
}
.discord {
  grid-area: discord;
}
